@media(max-width: 1140px){
	.section-bg {
		height: auto;
    }
    .left-block{
    	margin-bottom: 30px;
    }
    .video-wraper{
    	justify-content: center;
    }
    .container{
    	padding: 0 30 px;
    }
    .artcle-wraper{
    	flex-direction: column;
    	align-items: center;

    }
    .left-wraper{
    	margin-bottom:30px;
    }
    }


@media( max-width: 1140px) {
	.image-wraper{
		flex-direction: column;
		align-items: center;
	}
}


