
.icon1::after{
	content: '';
	width: 2px;
	height: 26px;
	background-color: #3D58A6;
	display: inline-block;
}







.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}


/*section styles*/
.section-bg{
	background-color: #363E97;
	height: 500px;
}
.left-block, 
.right-block {
	max-width:570px;
	width: 100%
	height: 320px;
	
}

.video-wraper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.video-iframe{
	width: 100%;
	height:100%;
}
/*section2 styles*/
.section2-bg{
	background-color: #BDCCD4;
}
.image-wraper{
	display: flex;
	justify-content: space-between;
}
	

/*section3*/
.section3-bg{
	background-color: #E6E6E6;
}
.article-wraper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.left-wraper{
	max-width: 570px;
	width: 100%
	background-color: red;
}
.right-wraper{
	max-width: 570px;
	width: 100%
	background-color: yellow;
}
.article-block {
	display: flex;
	justify-content: space-between;
}